USE [master]
GO
/****** Object:  Database [utility_db]    Script Date: 1/10/2026 1:50:12 AM ******/
CREATE DATABASE [utility_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'utility_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\utility_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'utility_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\utility_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [utility_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [utility_db]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalculateBillAmount]    Script Date: 1/10/2026 1:50:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalculateBillAmount] (@consumption INT)
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @amount DECIMAL(10,2);
    -- Simple logic: 10 per unit for first 60, 20 per unit after
    IF @consumption <= 60
        SET @amount = @consumption * 10.00;
    ELSE
        SET @amount = (60 * 10.00) + ((@consumption - 60) * 20.00);
    RETURN @amount;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetCustomerTotalPaid]    Script Date: 1/10/2026 1:50:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetCustomerTotalPaid] (@customer_id INT)
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @total DECIMAL(10,2);
    SELECT @total = SUM(p.amount)
    FROM payment p
    JOIN bill b ON p.bill_id = b.bill_id
    JOIN meter m ON b.meter_id = m.meter_id
    WHERE m.customer_id = @customer_id;
    RETURN ISNULL(@total, 0.00);
END;
GO
/****** Object:  Table [dbo].[customer]    Script Date: 1/10/2026 1:50:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[address] [varchar](max) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[nic] [varchar](20) NULL,
	[outstanding_balance] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meter]    Script Date: 1/10/2026 1:50:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meter](
	[meter_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[group_id] [int] NULL,
	[meter_no] [varchar](50) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[meter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[meter_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 1/10/2026 1:50:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[bill_id] [int] IDENTITY(1,1) NOT NULL,
	[meter_id] [int] NULL,
	[reading_id] [int] NULL,
	[amount] [decimal](10, 2) NULL,
	[status] [varchar](20) NULL,
	[generated_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_UnpaidBills]    Script Date: 1/10/2026 1:50:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_UnpaidBills] AS
SELECT c.customer_id, c.first_name, c.last_name, c.outstanding_balance, 
       b.bill_id, b.amount, b.status, b.generated_date, m.meter_no
FROM customer c
JOIN meter m ON c.customer_id = m.customer_id
JOIN bill b ON m.meter_id = b.meter_id
WHERE b.status = 'Pending';
GO
/****** Object:  Table [dbo].[payment]    Script Date: 1/10/2026 1:50:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[bill_id] [int] NULL,
	[amount] [decimal](10, 2) NULL,
	[payment_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DailyRevenue]    Script Date: 1/10/2026 1:50:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_DailyRevenue] AS
SELECT payment_date, SUM(amount) as total_revenue, COUNT(payment_id) as transaction_count 
FROM payment 
GROUP BY payment_date;
GO
/****** Object:  Table [dbo].[fault_report]    Script Date: 1/10/2026 1:50:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fault_report](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[meter_id] [int] NULL,
	[description] [varchar](max) NULL,
	[report_date] [date] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meter_reading]    Script Date: 1/10/2026 1:50:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meter_reading](
	[reading_id] [int] IDENTITY(1,1) NOT NULL,
	[meter_id] [int] NULL,
	[reading_date] [date] NULL,
	[previous_reading] [int] NULL,
	[current_reading] [int] NULL,
	[consumption] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[reading_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tariff_group]    Script Date: 1/10/2026 1:50:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tariff_group](
	[group_id] [int] IDENTITY(1,1) NOT NULL,
	[utility_id] [int] NULL,
	[group_name] [varchar](50) NULL,
	[fixed_charge] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tariff_slab]    Script Date: 1/10/2026 1:50:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tariff_slab](
	[slab_id] [int] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NULL,
	[min_units] [int] NULL,
	[max_units] [int] NULL,
	[unit_price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[slab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 1/10/2026 1:50:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[role] [varchar](20) NULL,
	[full_name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[utility]    Script Date: 1/10/2026 1:50:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utility](
	[utility_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[unit_name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[utility_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bill] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT ((0.00)) FOR [outstanding_balance]
GO
ALTER TABLE [dbo].[fault_report] ADD  DEFAULT (getdate()) FOR [report_date]
GO
ALTER TABLE [dbo].[fault_report] ADD  DEFAULT ('Open') FOR [status]
GO
ALTER TABLE [dbo].[meter] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[payment] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[tariff_group] ADD  DEFAULT ((0.00)) FOR [fixed_charge]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD FOREIGN KEY([meter_id])
REFERENCES [dbo].[meter] ([meter_id])
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD FOREIGN KEY([reading_id])
REFERENCES [dbo].[meter_reading] ([reading_id])
GO
ALTER TABLE [dbo].[fault_report]  WITH CHECK ADD FOREIGN KEY([meter_id])
REFERENCES [dbo].[meter] ([meter_id])
GO
ALTER TABLE [dbo].[meter]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[meter]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[tariff_group] ([group_id])
GO
ALTER TABLE [dbo].[meter_reading]  WITH CHECK ADD FOREIGN KEY([meter_id])
REFERENCES [dbo].[meter] ([meter_id])
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD FOREIGN KEY([bill_id])
REFERENCES [dbo].[bill] ([bill_id])
GO
ALTER TABLE [dbo].[tariff_group]  WITH CHECK ADD FOREIGN KEY([utility_id])
REFERENCES [dbo].[utility] ([utility_id])
GO
ALTER TABLE [dbo].[tariff_slab]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[tariff_group] ([group_id])
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD CHECK  (([status]='Paid' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='manager' OR [role]='cashier' OR [role]='field_officer' OR [role]='admin'))
GO
/****** Object:  StoredProcedure [dbo].[sp_AddReading]    Script Date: 1/10/2026 1:50:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddReading]
    @meter_id INT,
    @reading_date DATE,
    @current_reading INT
AS
BEGIN
    DECLARE @prev_reading INT;
    DECLARE @consumption INT;
    DECLARE @bill_amount DECIMAL(10,2);
    DECLARE @reading_id INT;

    
    SELECT TOP 1 @prev_reading = current_reading 
    FROM meter_reading 
    WHERE meter_id = @meter_id 
    ORDER BY reading_date DESC;

    SET @prev_reading = ISNULL(@prev_reading, 0);
    SET @consumption = @current_reading - @prev_reading;

    
    INSERT INTO meter_reading (meter_id, reading_date, previous_reading, current_reading, consumption)
    VALUES (@meter_id, @reading_date, @prev_reading, @current_reading, @consumption);
    
    SET @reading_id = SCOPE_IDENTITY();

    
    SET @bill_amount = dbo.fn_CalculateBillAmount(@consumption);

    
    INSERT INTO bill (meter_id, reading_id, amount, generated_date)
    VALUES (@meter_id, @reading_id, @bill_amount, GETDATE());
END;









GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomerStatus]    Script Date: 1/10/2026 1:50:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCustomerStatus]
    @cust_id INT
AS
BEGIN
    SELECT first_name, outstanding_balance 
    FROM customer 
    WHERE customer_id = @cust_id;
END;








GO
USE [master]
GO
